
@{
    ViewBag.Title = "About";
}

<h2>About </h2>
MSR Developers have developed the Crown Imperial and it is located in KR Puram of Bangalore. This is a luxurious residential complex and it is currently under construction so you can move into this place. With the help of several integrated public transport and road network, you can easily reach any e place of Bangalore.